html {
  font-size: 16px;
}
.input {
  @apply resize-none border rounded-xl p-2 focus:border-blue-500;
  @apply focus:ring-blue-500 dark:focus:ring-blue-500  focus:outline;
  @apply disabled:cursor-not-allowed dark:bg-transparent dark:border-neutral-800 dark:focus:border-blue-500;
}

.code {
  @apply border rounded-lg px-3 py-4 overflow-auto  dark:bg-transparent dark:border-neutral-700;
}

.input-file {
  @apply block w-full text-sm text-neutral-500
  file:mr-4 file:py-2 file:px-4
  file:rounded-full file:border-0
  file:text-sm file:font-semibold
  file:bg-blue-50 file:text-blue-600
  hover:file:bg-blue-100;
}
.js-menu-item {
  @apply px-3 py-1 rounded cursor-pointer;
}
.active {
  @apply bg-blue-500/20 text-blue-500;
}

.nav-icon svg {
  width: 100%;
  height: 100%;
}
